* {
  box-sizing: border-box;
}
.box {
  position: relative;
  padding: 50px;
  width: 660px;
  height: 1250px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.5);
}

.box:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 5px;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 15%,
    transaparent 50%,
    transaparent 85%,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
}

.box .form {
  position: relative;
  width: 100%;
  color: white;
}
.box .form .input-field {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  border-radius: 6px;
  padding: 8px;
  color: #fff;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 300;
}

.label {
  letter-spacing: 2px;
  color: rgb(199, 194, 194);
}
.lines {
  width: 100%;
  height: 1px;
  background-color: rgba(129, 172, 252, 0.315);
  margin-top: 5%;
  margin-bottom: 6%;
}
.img-box {
  position: relative;
  width: 50%;
  height: 200px;
  overflow: hidden;
  transition: 0.5s;
  border-left: 2px solid white;
  border-right: 2px solid white;
}
.img-box:hover {
  z-index: 1;
  transform: scale(1.25);
  /* border-left: 1px solid white; */
  border: 1px solid white;
  border-left: none;
  border-right: none;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}
.imgBx:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg, rgb(0, 204, 255), rgba(8, 8, 8, 0.925));
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}
.imgBx img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.add {
  position: relative;
  margin-bottom: 20px;
  outline: none;
  width: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  border-radius: 25px;
  padding: 8px;
  color: #fff;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 300;
}
.pop-overs {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00002e;
  border: 1px solid grey;
}
.pop-head {
  background-color: transparent;

  border: 1px solid grey;
}
.cont {
  width: 100%;
  height: 240px;
  /* background: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.img-box:hover .imgBx::before {
  opacity: 1;
}
.content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
}
.content h2 {
  color: rgb(187, 184, 184);
  transition: 0.5s;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  transform: translateY(150px);
}
.img-box:hover h2 {
  transform: translateY(0);
  transition-delay: 0.01s;
}
.browser-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  padding: 1.5em 5em;
  width: 80px;
  height: 45px;
  background: transparent;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: -2px -2px 6px rgba(21, 34, 71, 0.7),
  -2px -2px 4px rgba(191, 198, 212, 0.4),
  2px 2px 2px rgba(168, 168, 211, 0.13), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.browser-btn:hover {
  box-shadow: -2px -2px 6px rgba(36, 58, 153, 0.6),
    -2px -2px 4px rgba(255, 255, 255, 0.4),
    2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.browser-btn:active {
  box-shadow: inset -2px -2px 6px rgba(1, 0, 8, 0.747),
    inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 2px rgba(241, 231, 231, 0.075),
    inset 2px 2px 4px rgba(3, 3, 36, 0.877);
}
.spinner {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.spinner span {
  font-size: 2rem;
  animation: fade 1s linear 0s infinite;
  padding-right: 1rem;
}

.half-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #03fc4e;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#image-preview{
  display: flex;
  height: 100%;
  width: 100%;
}