@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Playfair+Display+SC:ital@0;1&family=Quantico:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@0;1&family=Quantico:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital@1&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.header .headtext{
    font-size: 100px;
    margin-left: -10px;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 40px #fff, 0 0 4px #ff4da6, 0 0 8px #ff4da6, 0 0 12px #ff4da6, 0 0 16px #ff4da6, 0 0 20px #ff4da6, 0 0 80px #ff4da6;
    -webkit-text-stroke: 2px #fff;
    background: url(./../../img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.header {
    display: flex;
    justify-content: center;
    padding: 2px;
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    /* background: darkgoldenrod; */
    border-bottom: 1px solid white;
    
}
hr{
    color: #ece8e8;
    size: 3px;
}
