*,*:before, *:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sub-head{
    color: rgb(185, 183, 183);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}
.item-button{
    width: 720px;
    height: 120px;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgba(255, 255, 255,0.05);
    border: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    letter-spacing: 4px;
    backdrop-filter: blur(8px);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}
.item-button:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
                45deg, 
                transparent 50%, 
                rgba(255,255,255,0.03) 58%,rgba(255,255,255,0.16) 67%, 
                transparent 68%
                );
                background-size: 200% 100%;
                background-position: 165% 0;
                transition: 0.7s;
}
.item-button:hover:after{
    background-position: -20% 0;
}
.item-button:hover{
    box-shadow: 15px 30px 32px rgba(0,0,0,0.25);
    transform: translateY(-10px);
}
@media (max-width:780px){
    .item-button{
        width: 90%;
    }
}