*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.card-container {
    display: flex;
    height: 420px;
}

.card{
    position: relative;
    /* box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),inset -5px -5px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0,0,0, 0.3),-5px -5px 15px rgba(255, 255, 255, 0.1); */
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}
.card:hover{
    height: 350px;
    background-color: rgba(255, 255, 255, 0.199);
}
.card:hover img{
    border-bottom:2px solid rgb(11, 2, 48);
}
.container .card .imgBx{
    position: relative;
    width: 260px;
    height: 220px;
    top: -60px;
    left: 5px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
    height: 220px;
}
.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    color: white;
    margin-top: 50px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-weight: bolder;
    font-size: large;
}